// 引入变量
// @import 'var';

body{margin:0;padding:0;}
ul{list-style:none;padding:0;margin:0;}

$mainColor:#333;
      //顶部   字体
$color:#EEE #2B0000 #F7F7F7;
$font-size:14px;
$line-height: 24px;

a{$color:#333;}
a:hover{text-decoration:underline;}

$padding:16px 30px;
$padding-top:15px;
$padding-right:35px;
$padding-bottom:15px;
$padding-left:35px;

//使用
.j_header{
    .j_china{
        height:30px;
        width: 100%;
        background:nth($color,1);
        .img1{
            padding:5px 0px 5px 1200px;
        }
    }
    .j_search{
        height: 83px;
        // background: pink;
        position:relative;
        .img2{
            width: 147px;
            height: 58px;
            margin: 25px 0 0 106px;
        }
        .input{
            width: 304px;
            height: 44px;
            border:1px solid #ccc;
            margin: 5px 0 9px 32px;
            border-radius:5px;
            font-size: 16px;
            line-height: 44px;
            padding-left:15px;
            font-style: italic;          
        }
        .i1{
            position:absolute;
            left: 557px;
            top: 31px;
            color:#ccc;
            font-size: 25px;
        }
        .order{
            position:absolute;
            left: 1042px;
            top: 48px;
            font-size: 10px;
            color:#002253;
        }
        .i2{
            position:absolute;
            left: 1155px;
            top: 46px;
            color:#002253;
        }
        .car{
            display:block;
            width: 66px;
            height: 46px;
            border:1px solid #2F1C60;
            position:absolute;
            right: 35px;
            top: 23px;
            color:#002253;
            border-radius:5px;
            .car_0{
                position:absolute;
                top: 13px;
                left:30px;
                font-size: 10px;    
            }
            .i3{
                font-size: 38px;
                color:#002253;
                position:absolute;
                right: 14px;
                top: 2px;
                font-weight: bold;
                
            }
        }
    }
    .j_nav{
        height: 60px;
        border-bottom:1px solid #F2F0F1;
        // background: skyblue;
        .ul{
            width: 1140px;
            // background: pink;
            margin-left:73px;
            position:relative;
            .li_nav{
                display:block;
                float:left;
                padding:$padding;
                margin-top:10px;
                color:#000;
                font-size: $font-size;
                border:1px solid #fff;
                font-weight: bold;
                .box{
                    display:none;
                    width: 1138px;
                    height: 581px;
                    background: #fff;
                    position:absolute;
                    top: 60px;
                    left:0px;
                    border:1px solid #F2F0F1;
                    z-index:1000;
                    border-top:none;
                    .ul1,.ul2,.ul3{
                        color:nth($color,2);
                        font-weight: normal;
                        padding-top:31px;
                        li{
                            border:none;
                            a{
                                font-size: $font-size;
                                line-height: $line-height;  
                            }
                            .red{
                                color:#D90000;
                            }
                        }
                    }
                    .ul1{
                        padding-left: 25px;
                    }
                    .ul2{
                        padding-left: 150px;
                    }
                    .ul3{
                        padding-left: 102px;
                    }
                }
            }
            .li_nav:hover{
                color:#0059B2;
                border:1px solid #F2F0F1;
                border-bottom:10px solid #fff;
            }
            .li_nav:hover .box{
                display:block;
            }
            .sale{
                color:#D90000;
            }

        }
    }
}





.j_footer{
    .j_num{
        height: 170px;
        // background: skyblue;
        border-top:1px solid #F2F0F1;
        color:#79796A;
        font-size: 22px;
        padding: 113px 0 0 220px;
    }
    .j_link{
        height: 230px;
        background:nth($color,3);
        .let{
            width: 502px;
            height: 230px;
            position:relative;
            .p1{
                font-weight: bold;
                font-size: $font-size;
                color:#000;
                padding: 40px 0 0 105px;
            }
            .p2{
                position:absolute;
                top: 58px;
                left: 106px;
                .let_i{
                    font-size: 26px;
                    color:#000;
                    // font-weight: bold;
                }
            }
        }
        .com{
            width: 396px;
            height: 230px;
            // background: #58bc58;
            padding-top: 40px;
            a{
                font-size: 12px;
                line-height: 22px;
            }
            .a1{
                font-weight: bold;
            }
        }
        .cus{
            height: 230px;
            padding-top: 40px;
            a{
                font-size: 12px;
                line-height: 22px;
            }
            .a1{
                font-weight: bold;
            }
        }
    }
    .j_bottom{
        height: 250px;
        // background: skyblue;
        .p3{
            font-size: 13px;
            font-weight: bold;
            padding: 45px 0 0 361px;
        }
        .p4{
            font-size: 10px;
            padding: 14px 0 0 265px;
        }
        .p5{
            font-size: 10px;
            padding: 15px 0 0 428px;
        }
        .bottom_img{
            padding: 52px 0 0 527px;
        }
    }
}


