body{margin:0;padding:0;}
ul{list-style:none;padding:0;margin:0;}

      //价格    字体
$color:#575748 #555555;
$font-size:12px;

// map类型
$headings: (h1: 2em, h2: 1.5em, h3: 1.2em);

a:hover{text-decoration:underline;}


// 使用
h3{font-size:map-get($headings,h3)}

@for $i from 3 to 7{
    h#{$i}{
        font-size:48px-$i*6;color:#444460;
    }
}



#j_main{
    .banner{
        width: 100%;
        height: 350px;
        background: #F0F0E1;
        margin-top: 13px;
    }
    
    //轮播图样式
    .banner img{display: block;}
    .banner{position:relative;width:1300px;height:314px;overflow:hidden;}
    .banner ul{position:absolute;overflow:hidden;}
    .banner ul li{float:left;}
    .banner .page{position:absolute;right:545px;bottom:0;padding:10px;}
    .banner .page span{display:inline-block;margin:0 5px;width:30px;height:30px;line-height:30px;background-color:rgba(0,0,0,.6);text-align:center;color:#fff;border-radius: 50%;box-shadow:0 0 10px rgba(0,0,0,.5);}
    .banner .page span.active{background-color: rgba(255,0,0,.8);}

    .banner > span{display:none;position:absolute;left:0;top:50%;transform: translate(0,-50%);padding:50px 16px;background-color: rgba(0,0,0,0.1);color:#fff;}
    .banner .btn-next{left:auto;right:0;}
    .banner > span:hover{background-color: rgba(0,0,0,0.25);}
    .banner:hover > span{display: block;}
    //轮播图样式结束


    .j_Trave{
        width: 1290px;
        // height: 445px;
        padding: 50px 0 0 60px;
        .Trave_img{
            display:block;
            width: 1195px;
            height: 395px;
        }
    }

    .j_BUS{
        width: 1290px;
        // height: 453px;
        // background: #F0F0E1;
        padding: 50px 0 0 102px;
        .BUS_img{
            display:block;
            width: 1085px;
            height: 403px;
        }
    }
    .j_Brand{
        width: 1290px;
        // height: 737px;
        // background: pink;
        .Brand_h3{
            padding: 55px 0 20px 504px;
        }
        .Brand_ul{
            height: 283px;
            img{
                width: 370px;
                height: 222px;
            }
            li{
                float:left;
            }
            li:nth-child(1){
                padding-left:60px;
            }
            li:nth-child(2){
                padding:0 30px;
            }
            li:nth-child(3){
                padding-right:60px;
            }
            h5{
                padding: 10px 0 33px 103px;
            }
        }
        .ul_2{
            margin-bottom: 67px;
            .h5_1{
                padding: 10px 0 33px 43px;
            }
            .h5_2{
                padding: 10px 0 33px 36px;
            }
            .h5_3{
                padding: 10px 0 33px 95px;
            }
        }
    }


    .j_Best{
        width: 1290px;
        height: 350px;
        // background: #F0F0E1;
        .Best_p{
            line-height: 38px;
            font-weight: bold;
            border-bottom:2px solid #464637;
            margin: 0 60px;
        }
        .Best_l{
            width: 25px;
            height: 310px;
            margin-left: 60px;
            // background: #58bc58;
            position:relative;
            .Best_i1{
                position:absolute;
                left: -7px;
                top: 140px;
                font-size: 30px;
                color:#999999;
            }
        }
        .Best_c{
            width: 1120px;
            height: 310px;
            overflow:hidden;
            color:nth($color,2);
            .Best_ul{
                width: 2240px;
                li{
                   float:left;
                    img{
                        display:block;
                        width:120px;
                        height: 120px;
                        margin:30px 22px 0px 0px; 
                    }
                    .img_last{
                        display:block;
                        width:120px;
                        height: 120px;
                        margin:30px 0px 0px 5px; 
                    }
                    p{
                        font-size: 8px;
                    }
                    .Best_ul_p1{
                        font-size: 11px;
                        font-weight: bold;
                        line-height: 30px;
                        padding-top: 10px;
                    }
                    p:nth-child(5){
                        margin-top: 15px;
                    }
                    .Best_ul_p5{
                        color:#AF0000;
                    }
                    .p_last{
                        position:relative;
                        i{
                           position:absolute;
                           color:#303030;
                            font-size: 18px;
                        }
                        .Best_c_i1{
                            top: 3px;
                            left: 83px;
                            font-weight: bold;

                        }
                        .Best_c_i2{
                            top: 3px;
                            left: 108px;
                        }
                    }
                }
            }
        }

        .Best_r{
            width: 25px;
            height: 310px;
            margin-right: 60px;
            // background: #58bc58;
            position:relative;
            .Best_i2{
                position:absolute;
                left: 2px;
                top: 140px;
                font-size: 32px;
                color:#999999;
            }
        }

    }


    .j_images{
        width: 1290px;
        height: 342px;
        // background: skyblue;
        .span{
            display:inline-block;
            width: 20px;
            height: 20px;
            border-radius:50%;
        }
        .images_s1{
            display:inline-block;
            background: #666666;
            margin-left: 615px;
            margin-right: 10px;
        }
        .images_s2{
            display:inline-block;
            background: #999999;
        }
        .images_rq{
            text-align: center;
            .images_p1{
                line-height: 31px;
                font-size: 13px;
                font-weight: bold;
                color:#333333;
            }
            p{
                font-size: 12px;
                line-height: 20px;
                color:#777777;
            }
            .images_p4{
                padding-bottom: 12px;
            }
        }
    }
}