#j_main{
    .container{
        // width: 1240px;
        // height: 2700px;
        // background: pink;
        .j_main_l{
            width: 183px;
            // background: skyblue;
            // height: 2700px;
            .ul_l{
                .li:nth-child(1){
                    margin-top: 25px;
                    border-top:1px solid #F2F0F1;
                }
                .li{
                    border-bottom:1px solid #F2F0F1;
                    padding:17px 0 17px 7px;
                    a{
                        display:none;
                        font-size: 10px;
                        font-weight:normal;
                        color:#bbb;
                        line-height: 22px;
                    }
                    .a{
                        margin-top: 15px;
                    }
                    a:hover{
                        color:#555;
                    }
                    i{
                        padding-right: 9px;
                        color:#ddd;
                    }
                }
                .li:hover{
                    font-weight: bold;
                    color:#153E8D;
                }
                .li:hover a{
                    display:block;
                    
                }
            }
        }




        .j_main_r{
            // height: 2700px;
            width: 1056px;
            // background: pink;
            .main_r_t{
                padding-left: 17px;
                padding-top: 7px;
                height: 160px;
                // background: skyblue;
                .a1{
                    color:#798C8C;
                    font-size: 10px;
                    padding-top: 17px;
                }
                .a2{
                    .a2_l{
                        font-size: 24px;
                    }
                    .a2_r{
                        font-size: 12px;
                        padding-left: 550px;
                    }
                    select{
                        font-size: 10px;
                        width: 210px;
                        border-radius:5px;
                        height: 32px;
                        margin-left: 8px;
                    }
                }
                .a3{
                    font-size: 10px;
                    color:#798C8C;
                    // padding-top: 4px;
                }
                .price_px{
                    font-size: 16px;
                    padding-bottom: 10px;
                    padding-right: 26px;
                    .jt{
                        width: 15px;
                    }
                }
                .price_px:hover{
                    color:#0059B2;
                }
                .date_px{
                    font-size: 16px;
                    .jt{
                        width: 15px;
                    }
                }
                .date_px:hover{
                    color:#0059B2;
                }
            }


            .main_r_b{
                .goodslist{
                    li{
                        padding-top: 90px;
                        float:left;
                        width: 264px;
                        .img1{
                            width: 170px;
                        }
                        .rate,.content,.date{
                            font-size: 12px;
                            color:#2F6BB5;
                        }
                        .rate{
                            padding-top: 15px;
                        }
                        .img2{
                            height: 12px;
                        }
                        .h4{
                            color:#333333;
                            font-size: 12px;
                            font-weight: bold;
                            padding-top: 15px;   
                        }
                        .price{
                            font-size: 13px;
                            color:#CC0047;
                            padding-top: 25px;
                        }
                    }
                    li:last-child{
                        padding-bottom: 60 px;
                    }
                }
            }
        }
    }
}