body { margin: 0; padding: 0; }

ul { list-style: none; padding: 0; margin: 0; }

a:hover { text-decoration: underline; }

.j_header .j_china { height: 30px; width: 100%; background: #EEE; }

.j_header .j_china .img1 { padding: 5px 0px 5px 1200px; }

.j_header .j_search { height: 83px; position: relative; }

.j_header .j_search .img2 { width: 147px; height: 58px; margin: 25px 0 0 106px; }

.j_header .j_search .input { width: 304px; height: 44px; border: 1px solid #ccc; margin: 5px 0 9px 32px; border-radius: 5px; font-size: 16px; line-height: 44px; padding-left: 15px; font-style: italic; }

.j_header .j_search .i1 { position: absolute; left: 557px; top: 31px; color: #ccc; font-size: 25px; }

.j_header .j_search .order { position: absolute; left: 1042px; top: 48px; font-size: 10px; color: #002253; }

.j_header .j_search .i2 { position: absolute; left: 1155px; top: 46px; color: #002253; }

.j_header .j_search .car { display: block; width: 66px; height: 46px; border: 1px solid #2F1C60; position: absolute; right: 35px; top: 23px; color: #002253; border-radius: 5px; }

.j_header .j_search .car .car_0 { position: absolute; top: 13px; left: 30px; font-size: 10px; }

.j_header .j_search .car .i3 { font-size: 38px; color: #002253; position: absolute; right: 14px; top: 2px; font-weight: bold; }

.j_header .j_nav { height: 60px; border-bottom: 1px solid #F2F0F1; }

.j_header .j_nav .ul { width: 1140px; margin-left: 73px; position: relative; }

.j_header .j_nav .ul .li_nav { display: block; float: left; padding: 16px 30px; margin-top: 10px; color: #000; font-size: 14px; border: 1px solid #fff; font-weight: bold; }

.j_header .j_nav .ul .li_nav .box { display: none; width: 1138px; height: 581px; background: #fff; position: absolute; top: 60px; left: 0px; border: 1px solid #F2F0F1; z-index: 1000; border-top: none; }

.j_header .j_nav .ul .li_nav .box .ul1, .j_header .j_nav .ul .li_nav .box .ul2, .j_header .j_nav .ul .li_nav .box .ul3 { color: #2B0000; font-weight: normal; padding-top: 31px; }

.j_header .j_nav .ul .li_nav .box .ul1 li, .j_header .j_nav .ul .li_nav .box .ul2 li, .j_header .j_nav .ul .li_nav .box .ul3 li { border: none; }

.j_header .j_nav .ul .li_nav .box .ul1 li a, .j_header .j_nav .ul .li_nav .box .ul2 li a, .j_header .j_nav .ul .li_nav .box .ul3 li a { font-size: 14px; line-height: 24px; }

.j_header .j_nav .ul .li_nav .box .ul1 li .red, .j_header .j_nav .ul .li_nav .box .ul2 li .red, .j_header .j_nav .ul .li_nav .box .ul3 li .red { color: #D90000; }

.j_header .j_nav .ul .li_nav .box .ul1 { padding-left: 25px; }

.j_header .j_nav .ul .li_nav .box .ul2 { padding-left: 150px; }

.j_header .j_nav .ul .li_nav .box .ul3 { padding-left: 102px; }

.j_header .j_nav .ul .li_nav:hover { color: #0059B2; border: 1px solid #F2F0F1; border-bottom: 10px solid #fff; }

.j_header .j_nav .ul .li_nav:hover .box { display: block; }

.j_header .j_nav .ul .sale { color: #D90000; }

.j_footer .j_num { height: 170px; border-top: 1px solid #F2F0F1; color: #79796A; font-size: 22px; padding: 113px 0 0 220px; }

.j_footer .j_link { height: 230px; background: #F7F7F7; }

.j_footer .j_link .let { width: 502px; height: 230px; position: relative; }

.j_footer .j_link .let .p1 { font-weight: bold; font-size: 14px; color: #000; padding: 40px 0 0 105px; }

.j_footer .j_link .let .p2 { position: absolute; top: 58px; left: 106px; }

.j_footer .j_link .let .p2 .let_i { font-size: 26px; color: #000; }

.j_footer .j_link .com { width: 396px; height: 230px; padding-top: 40px; }

.j_footer .j_link .com a { font-size: 12px; line-height: 22px; }

.j_footer .j_link .com .a1 { font-weight: bold; }

.j_footer .j_link .cus { height: 230px; padding-top: 40px; }

.j_footer .j_link .cus a { font-size: 12px; line-height: 22px; }

.j_footer .j_link .cus .a1 { font-weight: bold; }

.j_footer .j_bottom { height: 250px; }

.j_footer .j_bottom .p3 { font-size: 13px; font-weight: bold; padding: 45px 0 0 361px; }

.j_footer .j_bottom .p4 { font-size: 10px; padding: 14px 0 0 265px; }

.j_footer .j_bottom .p5 { font-size: 10px; padding: 15px 0 0 428px; }

.j_footer .j_bottom .bottom_img { padding: 52px 0 0 527px; }
