#j_main .container .j_main_l { width: 183px; }

#j_main .container .j_main_l .ul_l .li:nth-child(1) { margin-top: 25px; border-top: 1px solid #F2F0F1; }

#j_main .container .j_main_l .ul_l .li { border-bottom: 1px solid #F2F0F1; padding: 17px 0 17px 7px; }

#j_main .container .j_main_l .ul_l .li a { display: none; font-size: 10px; font-weight: normal; color: #bbb; line-height: 22px; }

#j_main .container .j_main_l .ul_l .li .a { margin-top: 15px; }

#j_main .container .j_main_l .ul_l .li a:hover { color: #555; }

#j_main .container .j_main_l .ul_l .li i { padding-right: 9px; color: #ddd; }

#j_main .container .j_main_l .ul_l .li:hover { font-weight: bold; color: #153E8D; }

#j_main .container .j_main_l .ul_l .li:hover a { display: block; }

#j_main .container .j_main_r { width: 1056px; }

#j_main .container .j_main_r .main_r_t { padding-left: 17px; padding-top: 7px; height: 160px; }

#j_main .container .j_main_r .main_r_t .a1 { color: #798C8C; font-size: 10px; padding-top: 17px; }

#j_main .container .j_main_r .main_r_t .a2 .a2_l { font-size: 24px; }

#j_main .container .j_main_r .main_r_t .a2 .a2_r { font-size: 12px; padding-left: 550px; }

#j_main .container .j_main_r .main_r_t .a2 select { font-size: 10px; width: 210px; border-radius: 5px; height: 32px; margin-left: 8px; }

#j_main .container .j_main_r .main_r_t .a3 { font-size: 10px; color: #798C8C; }

#j_main .container .j_main_r .main_r_t .price { font-size: 16px; padding-bottom: 10px; padding-right: 26px; }

#j_main .container .j_main_r .main_r_t .price .jt { width: 15px; }

#j_main .container .j_main_r .main_r_t .price:hover { color: #0059B2; }

#j_main .container .j_main_r .main_r_t .date { font-size: 16px; }

#j_main .container .j_main_r .main_r_t .date .jt { width: 15px; }

#j_main .container .j_main_r .main_r_t .date:hover { color: #0059B2; }

#j_main .container .j_main_r .main_r_b .goodslist li { padding-top: 90px; float: left; width: 264px; }

#j_main .container .j_main_r .main_r_b .goodslist li .img1 { width: 170px; }

#j_main .container .j_main_r .main_r_b .goodslist li .rate, #j_main .container .j_main_r .main_r_b .goodslist li .content, #j_main .container .j_main_r .main_r_b .goodslist li .date { font-size: 12px; color: #2F6BB5; }

#j_main .container .j_main_r .main_r_b .goodslist li .rate { padding-top: 15px; }

#j_main .container .j_main_r .main_r_b .goodslist li .img2 { height: 12px; }

#j_main .container .j_main_r .main_r_b .goodslist li .h4 { color: #333333; font-size: 12px; font-weight: bold; padding-top: 15px; }

#j_main .container .j_main_r .main_r_b .goodslist li .price { font-size: 13px; color: #CC0047; padding-top: 25px; }
